/* .home:link {
    color: chartreuse;
    text-decoration: none;
} */
a:link {
  color: chartreuse;
  text-decoration: none;
}

.home:visited {
  color: rgb(253, 34, 0);
}

.submit-btn {
  background-color: aqua;
  padding: 20px 20px;
  border: none;
  /* border-radius: 50%; */
  border-radius: 20px;
}
/* .submit-btn:hover {
  background-color: rgba(3, 227, 227, 0.636);
  padding: 20px 20px;
  border: none;
  border-radius: 50%;
  border-radius: 20px;
  cursor: pointer;
} */

.submit-btn:active {
  background-color: blue;
}

.text-input {
  background-color: antiquewhite;
  color: brown;
  border: 1px solid rgba(236, 34, 34, 0.584);
}

.text-input:focus {
  border: 3px solid pink;
  outline: none;
  background-color: burlywood;
  padding: 10px 6px;
}

/* p[class] {
    color: #d81159
}  */

/* p[class~="dog"] {
  color: #d81159;
} */

/* p[class="dog"]::first-line {
    color:aqua
    } */

/* p[class^="do"] {
  color: #d81159;
} */

/* p[class*="do"] {
  color: #d81159;
} */

.paragraph >  p[class$="en"] {
  color: #d81159;
}
