@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&family=Dancing+Script:wght@400..700&family=Fleur+De+Leah&family=Great+Vibes&family=Outfit:wght@639&display=swap");
body {
    background-color: #E0E0E0;
}
.container {
  /* border: 5px solid palevioletred; */
  /* min-height: 200px; */
  /* max-height: 100px; */

  /* border-width: 1px 2px 3px 4px; */
  border-width: 2px 8px;
  /* border-width: 2px; */
  border-color: red;

  border-style: solid;
  /* border-bottom-width: 6px;
    border-top-width: 6px;
    border-left-width: 6px;
    border-right-width: 6px; */
}

li {
  display: inline;
}

ul .coming-soon {
  /* display: none; */
  visibility: hidden;
}

span {
  display: block;
}

.tutorial {
  border: 2px solid green;
  height: 30px;
  display: inline-block;
}

/* .two {
  width: 300px;
  height: 400px;
  -moz-border-image: url("pattern1.jpg") 10;
  -webkit-border-image: url("pattern1.jpg") 10;
  border-image: url("pattern1.jpg") 10;
} */

/* p.two {
  border-width: 11px;
  border-style: solid;
  border-image: url("pattern1.jpg") 11 11 11 11 round;
  height: 100px;
  width: 200px;
}

p.three {
  border: 11px solid transparent;
  border-image: url("pattern1.jpg") 11 11 11 11 repeat;
  height: 100px;
  width: 200px;
} */

.one {
  border: 10px solid red;
  width: 300px;
  height: 400px;
  border-image: url("pattern2.avif") 10 10 10 10 fill;
}

.paragraph-one {
  text-align: center;
  margin-top: 40%;
  margin-left: 15%;
  width: 200px;
  color: #2d1e19;
  font-family: "Fleur De Leah", cursive;
  font-weight: 800;
}

.shadow {
  width: 200px;
  height: 200px;
  /* box-shadow: 20px 20px 80px #de5151; */
  border-radius: 35px;
  background: #e0e0e0;
  box-shadow: 30px 30px 60px #c1c1c1, -30px -30px 60px #ffffff;
}
