/* @import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&family=Dancing+Script:wght@400..700&family=Fleur+De+Leah&family=Great+Vibes&family=Outfit:wght@639&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&family=Dancing+Script:wght@400..700&family=Fleur+De+Leah&family=Great+Vibes&family=Outfit:wght@639&display=swap");

h1 {
  font-size: 40px;
  font-family: "Outfit", sans-serif;
}

p {
  font-size: x-large;
  font-family: "Dancing Script", cursive;
} */

@font-face {
  font-family: "Bitcount Prop Single Ink", system-ui;
  /* src: url("/class-19/fonts/BitcountPropSingleInk-VariableFont_CRSV\,ELSH\,ELXP\,SZP1\,SZP2\,XPN1\,XPN2\,YPN1\,YPN2\,slnt\,wght.ttf"); */
  src: url("./fonts/BitcountPropSingleInk-VariableFont_CRSV\,ELSH\,ELXP\,SZP1\,SZP2\,XPN1\,XPN2\,YPN1\,YPN2\,slnt\,wght.ttf");
}

@font-face {
    font-family: "Fleur De Leah", cursive;
    src: url("./fonts/FleurDeLeah-Regular.ttf");
}

h1 {
  font-size: 40px;
  font-family: "Bitcount Prop Single Ink", system-ui;
  font-style: normal;
  text-transform: none;
  border: none;
}

p {
  font-size: x-large;
  font-family: "Fleur De Leah", cursive;
}
