@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95vw;
  padding: 20px 0px;
}

.header-heading {
  font-size: 24px;
  color: #000638;
  font-family: "Merriweather", serif;
}

.header-navigation {
  font-family: "Roboto", sans-serif;
  color: #605c59;
  font-size: 18px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 400px;
}

/* .header-nav-list {
    display: inline;
} */

.header-hamburger {
  color: #605c59;
  display: none;
}

.banner-tag {
  background-color: #283a61;
  width: 100px;
  font-size: 12px;
  border-radius: 4px;
  color: white;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.banner-heading {
  font-size: 46px;
  font-family: "Merriweather", serif;
  max-width: 85%;
  margin-bottom: 20px;
}

.banner-time-date {
  color: #515151;
  font-family: "Merriweather", serif;
  margin-bottom: 20px;
}

.banner-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.banner-container > div {
  width: 90%; /* how wide the centered column is */
  max-width: 900px;
  text-align: left;
}

.banner-image img {
  width: 100%;
  height: 400px;
  border-radius: 8px;
  margin: 0px !important;
  padding: 0px !important;
}

.avatar-container {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: -40px !important;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: left;
}

.food-list-image {
  width: 300px;
  height: 145px;
  border-radius: 6px;
}

.food-list-heading {
  font-family: "Merriweather", serif;
  line-height: 160%;
  width: 80%;
}

.food-list-paragraph {
  width: 74%;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  line-height: 160%;
}

.food-list-content {
  margin-left: 20px;
}

@media screen and (max-width: 765px) {
  .header-navigation {
    display: none;
  }

  .header-hamburger {
    color: #605c59;
    display: block;
  }

  .banner-heading {
    font-size: 26px;
    font-family: "Merriweather", serif;
    max-width: 85%;
    margin-bottom: 20px;
  }

  .banner-image img {
    height: auto;
  }

  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: left;
  }
}
