/* .container {
  display: grid;
  //grid-template-columns: 120px 120px 120px 120px 120px 120px 120px 120px 120px;
  //grid-template-columns: repeat(9, 120px);
  //grid-template-columns: minmax(10px, 120px) minmax(10px, 120px) minmax(
      10px,
      120px
    ) minmax(10px, 120px) minmax(10px, 120px);

  grid-template-columns: repeat(5, minmax(20px, 120px));
  grid-template-rows: 130px 200px 300px;
} */

.container {
  display: grid;
  /* grid-template-columns: 120px 120px 120px 120px 120px 120px 120px 120px 120px; */
  /* grid-template-columns: repeat(9, 120px); */
  /* grid-template-columns: minmax(10px, 120px) minmax(10px, 120px) minmax(10px, 120px) minmax(10px, 120px) minmax(10px, 120px); */

  /* grid-template-columns: repeat(2, minmax(20px, 50%)); */
  /* grid-template-columns: 3fr 2fr 1fr; */
  grid-template-columns: repeat(auto-fill, 120px);
  grid-template-rows: 130px 200px 300px;
  gap: 70px;
}

.box {
  padding: 20px;
  width: auto;
  height: auto;
  border: 1px solid purple;
  text-align: center;
}

/* grid-template-columns: repeat(4, 80px); */
/* grid-template-columns: repeat(4, 1fr); */
/* grid-template-columns: repeat(4, minmax(10px, 120px)); */
/* grid-template-columns: repeat(auto-fill, 120px); */
