@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section {
  background-color: #f4f6f5;
  border-radius: 16px;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: space-around;
  padding: 30px 120px 0px 120px;
  margin: 60px;
}

.hero-section-content {
  /* padding-bottom: 100px; */
}

.hero-section-content > button {
  background-color: #000000;
  color: #ffffff;
  outline: none;
  border: 0px;
  font-size: 26px;
  padding: 12px 24px;
  border-radius: 10px;
  margin-top: 20px;
}

.heading {
  font-size: 96px;
  font-weight: 900;
  width: 10%;
  color: #000000;
}

.hero-section-subtitle {
  font-size: 32px;
  color: #191818;
}

.hero-section-image {
  width: 100%;
  height: 100%;
}

/* range 1401 to 1500px */
@media screen and (max-width: 1500px) {
  .hero-section {
    padding: 30px 80px 0px 80px;
  }

  .heading {
    font-size: 90px;
    width: 10%;
  }

  .hero-section-subtitle {
    font-size: 30px;
  }

  .hero-section-image {
    width: 100% !important;
    height: 100% !important;
  }
}

/*  from 1400px to 1201px */
@media screen and (max-width: 1400px) {
  .hero-section-image {
    width: 1200px !important;
    height: 100% !important;
  }

  .heading {
    font-size: 80px;
  }

  .hero-section-subtitle {
    font-size: 26px;
  }
}

@media screen and (max-width: 1200px) {
  .hero-section {
    height: 620px;
    padding: 30px 70px 0px 70px;
    margin: 60px;
  }

  .hero-section-image {
    width: 1200px !important;
    height: 100% !important;
  }

  .heading {
    font-size: 74px;
  }

  .hero-section-subtitle {
    font-size: 20px;
  }

  .hero-section-content > button {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .hero-section {
    height: 420px;
    padding: 30px 60px 0px 60px;
  }

  .hero-section-image {
    width: 1000px !important;
    height: 100% !important;
  }

  .heading {
    font-size: 42px;
    line-height: 60px;
  }

  .hero-section-subtitle {
    font-size: 16px;
  }

  .hero-section-content > button {
    font-size: 16px;
    padding: 8px 24px;
  }
}

@media screen and (max-width: 600px) {
  .hero-section {
    height: 300px;
    padding: 30px 20px 0px 40px;
  }

  .hero-section-image {
    width: 900px !important;
    height: 100% !important;
  }

  .heading {
    font-size: 30px;
    line-height: 35px;
  }

  .hero-section-subtitle {
    font-size: 12px;
  }

  .hero-section-content > button {
    font-size: 12px;
    padding: 8px 16px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 425px) {
  .hero-section {
    height: 240px;
    padding: 20px 20px 0px 30px;
  }

  .hero-section-image {
    width: 700px !important;
    height: 100% !important;
  }

  .heading {
    font-size: 24px;
    line-height: 28px;
  }

  .hero-section-subtitle {
    font-size: 10px;
  }

  .hero-section-content > button {
    font-size: 10px;
    padding: 4px 10px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 320px) {
  .hero-section {
    height: 180px;
    padding: 20px 20px 0px 30px;
  }

  .hero-section-image {
    width: 400px !important;
    height: 100% !important;
  }

  .heading {
    font-size: 18px;
    line-height: 22px;
  }

  .hero-section-subtitle {
    font-size: 8px;
  }

  .hero-section-content > button {
    font-size: 8px;
    padding: 4px 10px;
    margin-top: 10px;
  }
}
