.container {
  display: flex;
  height: 100vh;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: center;
  /* align-items: center; */
  align-content: start;
}

.box {
  width: 200px;
  height: 200px;
  padding: 10px;
}

.box-1 {
  background-color: goldenrod;
  order: 6;
}

.box-2 {
  background-color: rgb(38, 218, 32);
  order: 5;
}

.box-3 {
  background-color: rgb(171, 17, 218);
  order: 4;
}

.box-4 {
  background-color: rgb(32, 172, 218);
  order: 3;
  flex-grow: 3;
  flex-shrink: 2;
}

.box-5 {
  background-color: rgb(218, 119, 32);
  order: 2;
  flex-grow: 2;
  flex-shrink: 3;
  align-self: flex-end;
}

.box-6 {
  background-color: rgb(218, 51, 17);
  order: 1;
  flex-grow: 1;
  flex-basis: 400px;
}

.box-7 {
  background-color: rgb(205, 218, 17);
  flex: 4 5 500px;
}
