.box-1 {
  background-color: pink;
  width: 200px;
  height: 300px;
}

/* The css will be apply on higher screens - 480px  */
/* @media screen and (min-width: 768px) {
  .box-1 {
    background-color: green;
    width: 400px;
    height: 500px;
  }
} */

/* @media screen and (max-width: 780px) {
    .box-1 {
        background-color: yellow;
        width: 50px;
        height: 50px;

    }
} */

@media screen and (min-width: 480px) and (max-width: 768px) {
  .box-1 {
    background-color: yellow;
    width: 50px;
    height: 50px;
  }
  /* .box {
    background-color: yellow;
    width: 50px;
    height: 50px;
  } */
}

@media screen and (max-width: 479px) {
    .box-1 {
        background-color: rgb(250, 13, 218);
        width: 50px;
        height: 50px;

    }
}
