@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.blog-tag {
  /* background-color: #f2f2f7; */
  background-color: #a4a4fa;
  border-radius: 24px;
  color: #6941c6;
  /* width: fit-content; */
  width: 82px;
  font-size: 10px;
  /* padding: 0px 4px; */
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .blog-tag > p {
    text-align: center;
    width: 100%;
} */

.main-heading {
  color: #42307d;
  /* text-shadow: 0.5px 0.5px 0.5px black, -0.5px 0.5px 0.5px black; */
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black, 2px 2px 2px rgb(80, 79, 79);
}

.header-subtitle {
    
}