.box {
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  /* float: left; */
}

.world {
  background-color: pink;
  color: darkblue;
  float: left;
}

.duniya {
  background-color: coral;
  color: rgb(255, 255, 255);
  float: left;
}

/* .second-container {
    clear: both;
} */
.second-container {
  /* float: left; */
  clear: both;
}

.kitty {
  background-color: rgba(210, 105, 30, 0.545);
  float: left;
}

.mini {
  background-color: rgba(0, 0, 255, 0.41);
  float: left;
}
