.container {
    border: 2px solid green;
    width: 800px;
    height: 400px;
    padding: 20px;
    margin-left: 300px;
    margin-top: 500px;
    position: relative;
}

.box {
    width: 100px;
    height: 50px;
    background-color: rgb(223, 133, 15);
    padding: 10px 5px;
    border-radius: 16px;

    position: absolute;
    top: 600px;
    left: 300px;

}