.container {
}
.box {
  width: 200px;
  height: 200px;
  background-color: rgba(127, 255, 212, 0.625);
  position: sticky;
  top: 10px;
  left: 10px;
}

.bulb {
  position: sticky;
  top: 10px;
  left: 10px;
}

