body {
  font-family: Arial, Verdana, sans-serif;
}
table {
  width: 600px;
  border-collapse: collapse;
}

th {
  border-bottom: 2px solid black;
  border-top: 2px solid rgba(171, 169, 169, 0.518);
  text-align: left;
  letter-spacing: 0.1rem;
  font-size: 18px;
  padding: 10px 0px;
}

tbody {
  background-color: rgba(240, 237, 237, 0.615);
}

td {
  padding: 6px;
}

tr:hover {
  background-color: rgba(213, 213, 213, 0.635);
}

.money {
  text-align: right;
}
