/* .box-1 {
    width: 100%;
    //height: auto;
    border: 1px solid green;
    //min-height: 200px;
    max-height: 200px;
} */

.box-1 {
    width: 100%;
    border: 1px solid green;
    /* height: 300px; */
    max-height: 300px;
    min-height: 200px;
}