.box-1 {
  /* width: 50vw; */
  /* width: calc(100vw - 20px);  */
  /* height: 50vh; */
  border: 1px solid palevioletred;
  min-width: 300px;
  max-width: 900px;
}

.box-paragraph {
  /* min-width: 400px;
  max-width: 1500px; */
}

.box-2 {
  width: 100%;
  /* height: 400px; */
  border: 2px dashed violet;
}

td.description {
  min-width: 170px;
  max-width: 650px;
  text-align: left;
  padding: 5px;
  margin: 0px;
}
